.container {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0.7em 3em 0.7em;
}

.flex-center > * {
  max-width: 100%;
}

@media screen and (max-width: 415px) {
  .title {
    font-size: 2.5rem;
  }
}
